*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
header h1,h2,h3,h4,h5,h6{
    color: #80ED99;
}
.to-do,
.in-progress,
.completed{
    border: 1px solid #80ED99;
}
.main-panel-div{
    /* display: flex;
    justify-content: space-around;*/
    
    height: 500px;
    border: 0px solid red;
    box-sizing: border-box;
}
.panel{
    /* width: 100%; */
    border: 1px solid #80ED99;
    padding: 20px;
    border-radius: 8px;
    
    box-sizing: border-box;
    cursor: pointer;
    
}
.panel:hover{
    /* width: 100%; */
    border: 1px solid #80ED99;
    padding: 20px;
    border-radius: 8px;
    /* text-align: center;*/
    /* margin-right: 5px; 
    margin-left: 5px; */
    box-shadow: 4px 4px 20px #80ED99;
    box-sizing: border-box;
    transform: rotate(1deg);
    
}

.new-head{
    background-color: #80ED99;
    border: 0px solid red;
    cursor: pointer;
    font-weight: bold;
    border-radius: 8px;
}
.new-head:hover{
    border: 1px solid #80ED99;
    background-color: black;
    color: #80ED99;
    cursor: pointer;
    font-weight: bold;
    box-shadow:1px 1px 8px #80ED99;
}
